<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end" alt=""
        [src]="book().firstThumbnailUrl" style="width: 150px">
    <div class="card-title">
      <h2>
        {{ book().title }}
        <app-rating [rating]="book().rating" />
      </h2>
    </div>
    <p>{{ book().description }}</p>
   <p>Preis: {{ book().price | currency:'EUR' }}</p>
   <p>
    ISBN: {{ book().isbn }}
   </p>

   <p>Autoren:
    <!--@for (a of book().authors; track $index) {
      {{ a }}@if (!$last) {, }
   }-->
      {{ authors() }}
    </p>
    <button type="button" [disabled]="book().rating >= 5" class="btn btn-green" (click)="doRateUp()"> + </button>
    <button type="button" [disabled]="book().rating <= 1" class="btn btn-red" (click)="doRateDown()"> – </button>
    <button type="button" class="btn btn-yellow" (click)="doDelete()">🗑️ Delete</button>
    <button type="button" class="btn btn-red" (click)="doLike()">❤️ Like</button>

    <a [routerLink]="['/books', book().isbn]">Details</a>
    <!--
    1.) RouterLink mit/ohne eckige Klammern
    2.) wenn eckige Klammern, dann String oder Array von String
    3.) Relative/absolute Pfade
    -->
    <!--<a [routerLink]="[book().isbn]">Details</a>
    <a [routerLink]="book().isbn">Details</a>
    <a routerLink="{{ book().isbn }}">Details</a>
    <a [routerLink]="'/books/' + book().isbn">Details</a>
    <a routerLink="/books">Dashboard</a>-->
  </div>
</div>
